<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Product Review Analysis</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Welcome to Shopping Recommendation System</h1>
    <nav>
        <ul>
            <li><a href="{{ url_for('customer') }}">Customer</a></li>
            <li><a href="{{ url_for('seller') }}">Seller</a></li>
        </ul>
    </nav>
</body>
</html>
